<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contacts{{#if title}} | {{title}}{{/if}}</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>

    <header>
      <h1>Contact Splat</h1>
    </header>

    <nav>
      {{#if user}}
        <div>
          <a class="button" href="/">My Contacts</a>
        </div>
        <div class="welcome">
          Welcome, {{user.firstName}}
          <a class="button" href="/user/logout">Logout</a>
        </div>
      {{/if}}
    </nav>

    <div class="container">
      {{{body}}}
    </div>

  </body>
</html>
