<h2>Please Login</h2>

<p>Or, <a href="/user/register">create an account</a>.</p>

{{messages.error}}

<form action="/user/login" method="post">
  <label for="username">Email Address</label>
  <input type="text" class="u-full-width" id="username" name="username" value="{{emailAddress}}" />

  <label for="password">Password</label>
  <input type="password" class="u-full-width" id="password" name="password" />

  <button class="button-primary">Login</button>
</form>
